.productions {
  .new-generation {
    margin-top: 15px;
    background-color: firebrick;
    color: white;
    outline: none;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    width: 110px;
    height: 80px;
  }

  .wrapper {
    display: inline-block;
    width: 150px;
    padding: 10px 0;

    .icon-wrapper {
      display: inline-block;
      width: 110px;
      height: 110px;
      padding: 10px;
      position: relative;
      top: 0;
      left: 0;

      &.production {
        background-image: url('../../img/production.png');
        background-size: cover;
        background-position: 50% 50%;
      }

      .icon-image {
        width: 100%;
        height: 90px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        color: white;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        line-height: 90px;
        font-size: 60px;
      }

      .btn {
        display: inline-block;
        width: 55px;
        height: 110px;
        position: absolute;
        top: 0;
        outline: none !important;
        padding: 0;
        z-index: 50;

        &:focus,
        &:active {
          box-shadow: none !important;
          outline: none !important;
          color: firebrick;
        }

        &.btn-plus {
          right: 0;
        }

        &.btn-minus {
          left: 0;
        }
      }

      &.terraform-rate {
        padding: 0;
        .icon-image {
          width: 100%;
          height: 90px;
          background-size: 110px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }

        .btn {
          height: 90px;
        }
      }
    }
  }
}