.App {
  text-align: center;
  width: 100vw;
}

.icons {
  display: block;
  width: 100%;
}

.icon-container {
  display: inline-block;
  border: #000000 2px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
}

.icon-count-container {
  background: white;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  top: 10px;
  left: 60px;
}

.icon-count {
  color: black;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  position: relative;
}

.icon-count-extra-container {
  background: yellow;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  top: -30px;
  left: 75px;
}

.icon-count-extra {
  color: black;
  font-size: 10px;
  line-height: 20px;
  font-weight: bold;
  position: relative;
}

.btnMinus {
  background-color: red;
  border: none;
  color: black;
  width: 50px;
  margin-left: -50px;
  height: 100px;
  opacity: .05;
  cursor: pointer;
  position: absolute;
}

.btnPlus {
  background-color: green;
  border: none;
  color: black;
  width: 50px;
  height: 100px;
  opacity: .05;
  cursor: pointer;
  position: absolute;
}

.reset-button-container{
  display: block;
  width: 100%;
  padding: 20px 0;
}

.reset-button-container > button {
  display: inline-block;
  font-size: 16px;
  padding: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: firebrick;
}
