html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url('./img/background.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.generation {
  padding-top: 20px;
}

.hidden {
  position: absolute;
  top: 0;
  left: -100vw;
  transition: left .3s linear;
  background-color: rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.hidden.active {
  left: 0;
}
.hidden-wrapper {
  padding-left: 40px;
}

.close {
  text-align: right;
  padding: 5px;
}

.close > button {
  display: inline-block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: firebrick;
}

.icons {
  display: block;
}

.icon-container {
  display: inline-block;
  border: #000000 2px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
}

.icon-count-container {
  background: white;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  position: absolute;
  top: 10px;
  left: 60px;
}

.icon-count {
  color: black;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.icon-count-extra-container {
  background: yellow;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.icon-count-extra {
  color: black;
  font-size: 10px;
  line-height: 20px;
  font-weight: bold;
}

.btnMinus {
  background-color: red;
  border: none;
  color: black;
  width: 50px;
  margin-left: -50px;
  height: 100px;
  opacity: .5;
  cursor: pointer;
  position: absolute;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.btnPlus {
  background-color: green;
  border: none;
  color: black;
  width: 50px;
  height: 100px;
  opacity: .5;
  cursor: pointer;
  position: absolute;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.reset-button-container{
  display: block;
  width: 100%;
  padding: 20px 0;
}

.reset-button-container > button {
  display: inline-block;
  width: 300px;
  font-size: 16px;
  padding: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: firebrick;
}

.production-wrapper,
.resource-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.production-icon-bg,
.resource-icon-wrapper {
  display: inline-block;
  background-image: url('./img/production.png');
  background-size: cover;
  padding: 10px;
  border: 2px solid black;
  margin: 0 5px;
  vertical-align: top;
}

.resource-icon-wrapper {
  background-image: none;
  border: none;
  padding: 0;
}

.production-icon,
.resource-icon {
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  text-align: right;
}

.production-icon.TR {
  width: 95px;
  margin-top: 10px;
}

.production-count,
.resource-count {
  display: inline-block;
  text-align: center;
  position: relative;
  background-color: white;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  line-height: 30px;
  top: -10px;
  right: -10px;
}

.resource-icon {
  margin: 12px;
}

.buttons-wrapper {
  display: inline-block;
  margin: 0;
}

.add {
  display: block;
  background-color: firebrick;
  border: none;
  outline: none;
  color: white;
  height: 25px;
  width: 50px;
  margin: 5px 0;
}

.side-buttons {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 30px;
  z-index: 99999;
}

.side-buttons > button {
  display: inline-block;
  background-color: firebrick;
  height: 150px;
  max-height: 30vh;
  width: 30px;
  border: 1px solid white;
  outline: none;
  clear: both;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}

.side-buttons > button > span {
  width:150px;
  display:inline-block;
  position:absolute;
  left: -60px;
  text-transform: uppercase;
  font-weight: bold;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
}
