.App {
  text-align: center;
  width: 100vw;
}

.icon {
  float: left;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-container {
  border: #000000 2px;
  margin: 15px 0px;
  width: 260px;
  height: 100px;
  float: left;
}

.button-container {
  float: left;
  width: 80px;
  height: 80px;
}

.icon-count {
  color: white;
  font-size: 50px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  line-height: 90px;
  font-weight: bold;
}

.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 30px 16px;
  font-size: 40px;
  cursor: pointer;
}

